@charset 'UTF-8';

/* ************************************************
    common class
************************************************* */
.blind {
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.sub {
    &__container {
        padding: 160px 0 120px;
    }
}
.pc_only {
    display: block;
}
.mo_only {
    display: none;

    &--table {
        display: table-cell !important;
    }
}
.custom_scrollbar {
    overflow: auto;
}
.custom_scrollbar::-webkit-scrollbar {
    width: 5px;
}
.custom_scrollbar::-webkit-scrollbar-thumb {
    background-color: #C4D7B2;
}
.custom_scrollbar::-webkit-scrollbar-track {
    background-color: #ddd;
}

/* ************************************************
    layout
************************************************* */
#container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background: url(/assets/images/deco/deco_bg.png) repeat;
    background-color: #A0C49D;
}
.wrapper {
    width: 100%;
    max-width: 1550px;
    height: 92vh;
    margin: 30px auto;
}

/* ************************************************
    tab
************************************************* */
.tab {
    &__item {
        display: flex;
    
        button {
            min-width: 200px;
            height: 60px;
            color: #333;
            background-color: #C4D7B2;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            font-size: 1.125rem;
            transition: background-color ease 0.4s;

            &:hover,
            &.active {
                background-color: #E1ECC8;
            }
        }
    }
}

/* ************************************************
    board
************************************************* */
.board {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(100% - 60px);
    padding: 0 40px;
    background-color: #E1ECC8;
    border-radius: 15px;
    border-top-left-radius: 0;

    &__item {
        background-color: #F7FFE5;
        border-radius: 15px;
    }
    .btn__close {
        position: absolute;
        top: 30px;
        right: 30px;
    }
    &__top {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;
    }
}
.goldbox {
    padding: 15px;
    margin-left: 15px;
    color: #3d3d3d;
    background-color: #F7FFE5;
    border-radius: 10px;
    font-size: 1rem;

    .total {
        margin-left: 10px;
        color: #222;
        font-size: 1.25rem;
        font-weight: 600;

        &::after {
            content: '';
            display: inline-block;
            width: 21px;
            height: 20px;
            margin-left: 4px;
            background-image: url(/assets/images/icon/icon_gold.png);
            @include background();
            vertical-align: -4px;
        }
    }
}

/* ************************************************
    form
************************************************* */
.form {
    width: 100%;
}
.input {
    &__text {
        width: 100%;
        height: 80px;
        padding: 0 20px;
        border-radius: 10px;
        font-size: 1.5rem;
        text-align: center;

        &::placeholder {
            color: #ddd;
        }
    }
}
.btn {
    &__submit {
        width: 100%;
        height: 60px;
        background-color: #C4D7B2;
        border: 2px solid #C4D7B2;
        border-radius: 10px;
        font-size: 1.25rem;
        transition: background-color ease 0.3s;

        &:hover {
            background-color: transparent;
        }
    }
    &__close {
        width: 45px;
        height: 45px;
        background-color: transparent;
        transition: transform ease-in-out 0.5s;

        &::before, 
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 12px;
            background-color: #C4D7B2;
        }
        &::before {
            transform: translateY(130%) rotate(45deg);
        }
        &::after {
            transform: translateY(130%) rotate(-45deg);
        }
        &:hover {
            transform: rotate(180deg) scale(0.8);
        }
    }
    &__check {
        @include abCenter();
        width: 60px;
        height: 60px;
        @include background();
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='%23F7FFE5' d='M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10S2 17.514 2 12 6.486 2 12 2zm0-2C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm4.393 7.5-5.643 5.784-2.644-2.506-1.856 1.858L10.75 17l7.5-7.643L16.393 7.5z'/%3E%3C/svg%3E");
        background-color: transparent;
    }
    &__reload {
        position: relative;
        width: 56px;
        height: 56px;
        background-color: #F7FFE5;
        border-radius: 10px;

        &::after {
            content: '';
            display: block;
            @include abCenter();
            width: 24px;
            height: 24px;
            background-image: url(/assets/images/icon/icon_reload.png);
            background-position: center;
            background-repeat: no-repeat;
            transition: transform 0.4s ease-in-out;
        }
        &:hover::after {
            transform: translate(-50%, -50%) rotate(180deg) ;
        }
    }
}
.api_form {
    max-width: 800px;
    margin: 0 auto;

    .btn {
        margin-top: 15px;
    }
}
.chara_form {
    .title {
        margin-bottom: 40px;
        font-size: 3rem;
        text-align: center;
    }
    .btn {
        display: block;
        max-width: 300px;
        margin: 0 0 0 auto;
    }
}

/* ************************************************
    element
************************************************ */
.icon {
    &__add {
        display: block;
        position: relative;
        width: 40px;
        height: 40px;

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            background-color: #C4D7B2;
            border-radius: 5px;
        }
        &::before {
            left: 50%;
            top: 0;
            width: 25%;
            height: 100%;
            transform: translate3d(-50%, 0, 0);
        }
        &::after {
            left: 0;
            top: 50%;
            width: 100%;
            height: 25%;
            transform: translate3d(0, -50%, 0);
        }
    }
}

/* ************************************************
    chara
************************************************ */
.chara {
    width: 100%;
    height: calc(100% - 150px);
    overflow: auto;

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 25px;
        column-gap: 25px;

        & > li {
            position: relative;
            min-height: 321px;
            padding: 30px;
            background-color: #F7FFE5;
            border: 3px solid #F7FFE5;
            border-radius: 10px;

            .btn_box {
                position: absolute;
                top: 0;
                right: 0;
            }
            .btn {
                &__close {
                    width: 25px;
                    height: 25px;

                    &::before, &::after {
                        height: 8px;
                        background-color: #E1ECC8;
                    }
                    &:hover {
                        transform: none;
                    }
                }
            }
        }
        .add_box {
            position: relative;
            cursor: pointer;
            transition: border-color ease-out 0.3s;
            
            .icon__add {
                width: 100px;
                height: 100px;
                @include abCenter();

                &::before,
                &::after {
                    border-radius: 10px;
                }
            }
            &:hover {
                border-color: #C4D7B2;
            }
        }
    }
    &__info {
        display: flex;
        align-items: center;

        .name {
            margin-left: 16px;
            font-size: 1.5rem;
        }
        .level {
            margin-left: 10px;
            font-size: 1.25rem;
        }
        .job {
            width: 50px;
            height: 50px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            vertical-align: middle;
            @include ir();

            &.버서커 {
                background-image: url(/assets/images/icon/job/버서커.png);
            }
            &.워로드 {
                background-image: url(/assets/images/icon/job/워로드.png);
            }
            &.디스트로이어 {
                background-image: url(/assets/images/icon/job/디스트로이어.png);
            }
            &.홀리나이트 {
                background-image: url(/assets/images/icon/job/홀리나이트.png);
            }
            &.바드 {
                background-image: url(/assets/images/icon/job/바드.png);
            }
            &.서머너 {
                background-image: url(/assets/images/icon/job/서머너.png);
            }
            &.소서리스 {
                background-image: url(/assets/images/icon/job/소서리스.png);
            }
            &.아르카나 {
                background-image: url(/assets/images/icon/job/아르카나.png);
            }
            &.기공사 {
                background-image: url(/assets/images/icon/job/기공사.png);
            }
            &.배틀마스터 {
                background-image: url(/assets/images/icon/job/배틀마스터.png);
            }
            &.인파이터 {
                background-image: url(/assets/images/icon/job/인파이터.png);
            }
            &.창술사 {
                background-image: url(/assets/images/icon/job/창술사.png);
            }
            &.블레이드 {
                background-image: url(/assets/images/icon/job/블레이드.png);
            }
            &.데모닉 {
                background-image: url(/assets/images/icon/job/데모닉.png);
            }
            &.소울이터 {
                background-image: url(/assets/images/icon/job/소울이터.png);
            }
            &.리퍼 {
                background-image: url(/assets/images/icon/job/리퍼.png);
            }
            &.도화가 {
                background-image: url(/assets/images/icon/job/도화가.png);
            }
            &.기상술사 {
                background-image: url(/assets/images/icon/job/기상술사.png);
            }
            &.데빌헌터 {
                background-image: url(/assets/images/icon/job/데빌헌터.png);
            }
            &.블래스터 {
                background-image: url(/assets/images/icon/job/블래스터.png);
            }
            &.스카우터 {
                background-image: url(/assets/images/icon/job/스카우터.png);
            }
            &.호크아이 {
                background-image: url(/assets/images/icon/job/호크아이.png);
            }
            &.스트라이커 {
                background-image: url(/assets/images/icon/job/스트라이커.png);
            }
            &.건슬링어 {
                background-image: url(/assets/images/icon/job/건슬링어.png);
            }
            &.슬레이어 {
                background-image: url(/assets/images/icon/job/슬레이어.png);
            }
        }
        .server {
            margin-top: 8px;
            margin-left: 10px;
            font-size: 1rem;
        }
    }
    &__raids {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .total_gold {
            display: block;
            padding: 10px;
            border-radius: 10px;
            border: 2px solid #E1ECC8;
            font-size: 1rem;

            &::before {
                content: '';
                display: inline-block;
                width: 21px;
                height: 20px;
                margin-right: 7px;
                background-image: url(/assets/images/icon/icon_gold.png);
                vertical-align: -4px;
                @include background();
            }
        }
    }
    &__select {
        max-height: 700px;
        margin-bottom: 40px;
        overflow: auto;

        .chara__list {
            grid-template-columns: 1fr 1fr 1fr;

            & > li {
                min-height: inherit;
                border-width: 4px;
                cursor: pointer;

                &.selected {
                    border-color: #C4D7B2;
                }
            }
        }
        .chara__info {
            flex-direction: column;

            span {
                margin: 3px 0 0 0 !important;
            }
            strong {
                margin: 10px 0 0 0 !important;
            }
        }
    }
}
.raids {
    &__list {
        display: flex;
        position: relative;
        margin-top: 30px;
        margin-left: -15px;

        & > li {
            position: relative;
            width: 165px;
            min-height: 165px;
            padding: 13px;
            border: 2px solid #C4D7B2;
            border-radius: 20px;
            margin-left: 15px;
            overflow: hidden;

            &.completed {
                &::after {
                    content: '';
                    display: block;
                    @include abCenter();
                    width: 100px;
                    height: 100px;
                    @include background();
                }
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(173, 181, 155, 0.8);
                }
                &:nth-child(1)::after {
                    background-image: url(/assets/images/icon/icon_completed01.png);
                }
                &:nth-child(2)::after {
                    background-image: url(/assets/images/icon/icon_completed02.png);
                }
                &:nth-child(3)::after {
                    background-image: url(/assets/images/icon/icon_completed03.png);
                }
                .update {
                    display: none;
                }
            }
            &:hover {
                .update {
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                }
            }
        }
        .icon {
            display: block;
            width: 85px;
            height: 85px;
            margin: 0 auto;
            border-radius: 50%;
            background-size: contain;
            background-position: center top;
            background-repeat: no-repeat;
            @include ir();
 
            &.오레하 {
                background-image: url(/assets/images/raids/오레하.jpg);
            }
            &.아르고스 {
                background-image: url(/assets/images/raids/아르고스.jpg);
            }
            &.카양겔 {
                background-image: url(/assets/images/raids/카양겔.jpg);
            }
            &.상아탑 {
                background-image: url(/assets/images/raids/상아탑.jpg);
            }
            &.발탄 {
                background-image: url(/assets/images/raids/발탄.jpg);
            }
            &.비아키스 {
                background-image: url(/assets/images/raids/비아키스.jpg);
            }
            &.쿠크세이튼 {
                background-image: url(/assets/images/raids/쿠크세이튼.jpg);
            }
            &.아브렐슈드 {
                background-image: url(/assets/images/raids/아브렐슈드.jpg);
            }
            &.일리아칸 {
                background-image: url(/assets/images/raids/일리아칸.jpg);
            }
            &.카멘 {
                background-image: url(/assets/images/raids/카멘.jpg);
            }
            &__add {
                @include abCenter();
            }
        }
        .level {
            display: block;
            width: 100%;
            margin-top: 10px;
            font-size: 1.1rem;
            text-align: center;
            text-transform: uppercase;
        }   
        .gold {
            display: block;
            line-height: 1;
            margin-top: 4px;
            color: #3d3d3d;
            font-size: 0.875rem;
            text-align: center;
        }
        .add {
            cursor: pointer;
            overflow: inherit;

            &.active {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-bottom-color: transparent;
            }
        }
        .update {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            background-color: rgba(173, 181, 155, 0.7);
            opacity: 0;
            transition: opacity 0.3s ease;
            overflow: hidden;
            
            .btn__close {
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
    }
    &__select {
        position: absolute;
        top: 163px;
        left: -2px;
        width: calc(100% + 4px);
        max-height: 300px;
        border: 2px solid #C4D7B2;
        border-top: none;
        background-color: #F7FFE5;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        z-index: 10;
        overflow: auto;

        & > li {
            padding: 10px;
            cursor: pointer;

            &:hover {
                background-color: #C4D7B2;
            }
        }
    }
}